<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= sub %></p>
    <table>
      <% items.forEach((item)=>{ %>
      <tr>
        <td>
          <%= item.id %>
        </td>
        <td>
          <%= item.title %>
        </td> <td>
          <%= item.description %>
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
